body {
  background-color: var(--bg1);
}

main {
  font-family: "Poppins";
  margin: 0;
  width: 90%;
  max-width: 80rem;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.con-btn-close {
  position: absolute;
  height: 3rem;
  aspect-ratio: 1/1;
  /* background-color: #28a745; */
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  outline: 2px solid var(--accen);
  border-radius: 50%;
}
.con-btn-close a {
  display: inline-flex;
  height: 100%;
  width: 100%;
  background-color: #333;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  background-color: var(--bg1);
  margin-top: 4rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* outline: 20px solid var(--outline); */
  /* background-color: #4caf50; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container header {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--bg2);
  position: relative;
  margin-top: 1rem;
  color: var(--accen);
  padding: 0 0.5rem;
  flex-direction: column;
  align-items: center;
}

.container header h1 {
  position: relative;
  z-index: 2;
  /* background-color: #4caf50; */
  /* width: max-content; */
}

.container-penjelasan {
  width: 90%;
  /* height: 20rem; */
  /* background-color: aqua; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.card-penjelasan {
  width: 45%;
  height: 5rem;
  /* background-color: red; */
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: rgba(32, 32, 36, 0) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0) 0px 1px 3px -1px;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.card-penjelasan:hover {
  border: 1px solid var(--accen);
  box-shadow: rgba(32, 32, 36, 0.765) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.658) 0px 1px 3px -1px;
}

.card-penjelasan span {
  display: inline-flex;
  height: 5rem;
  aspect-ratio: 1/1;
  /* background-color: green; */
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.card-penjelasan:nth-child(1) span {
  background-color: #d2d2d2;
}

.card-penjelasan:nth-child(1) span {
  background-image: url(../asset/icon/gamepad.svg);
  /* background-color: #4caf50; */
  background-color: var(--accen);
}
.card-penjelasan:nth-child(2) span {
  background-image: url(../asset/icon/camera.svg);
  /* background-color: chocolate; */
  /* background-color: #d2d2d2; */
  background-color: var(--accen);
}
.card-penjelasan:nth-child(3) span {
  background-image: url(../asset/icon/buissnes.svg);
  /* background-color: orchid; */
  /* background-color: #d2d2d2; */
  background-color: var(--accen);
}
.card-penjelasan:nth-child(4) span {
  background-image: url(../asset/icon/sun.svg);
  /* background-color: salmon; */
  /* background-color: #d2d2d2; */
  background-color: var(--accen);
}

.card-penjelasan p {
  font-family: "Inter";
  font-size: 90%;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .container-penjelasan {
    width: 100% !important;
  }
  .card-penjelasan {
    width: 40% !important;
  }
  .card-penjelasan p {
    font-size: 70%;
  }
}
@media (max-width: 640px) {
  .container-penjelasan {
    width: 100% !important;
    /* background-color: #4caf50; */
  }
  .card-penjelasan {
    width: 80% !important;
  }
  .card-penjelasan p {
    font-size: 70%;
  }
}

.container-quiz {
  width: 100% !important;
  /* background-color: yellow; */
  text-align: center;
  padding: 2rem 0;
}
h3 {
  color: var(--accen);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
h2 {
  color: #333;
  font-size: 22px;
  /* margin-bottom: 30px; */
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.btn-pilihan {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem !important;
  background-color: var(--bg1) !important;
  width: 7rem;
  border-radius: 5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: none;
  border: 1px solid var(--accen);
  transition: all 0.3s ease-in-out;
}
.btn-pilihan p {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--font);
}

.btn-pilihan:active {
  transform: scale(0.8);
}

.btn-pilihan span {
  display: inline-flex;
  height: 2.5rem;
  aspect-ratio: 1/1;
  /* background-color: black; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

button:nth-child(1) span {
  background-image: url(../asset/icon/check-icon.svg);
}
button:nth-child(2) span {
  background-image: url(../asset/icon/x-icon.svg);
}

.btn-yes {
  background-color: var(--green);
  color: white;
}
.btn-no {
  background-color: var(--red);
  color: white;
}

/* Area Hasil */
#result-area {
  display: none;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #f0f0f0;
}
.final-item {
  margin: 10px 0;
  padding: 10px;
  background: #f9f9f9;
  border-left: 4px solid #4caf50;
  text-align: left;
}

/* style container hasil */

.container-hasil {
  width: 90%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
  align-items: center;
  margin-top: 2rem;
}

#final-result-container {
  /* background-color: #4caf50; */
  padding: 0 0 0 1rem;
}

.container-btn {
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
