*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg1);
}

.container-home {
  height: 100dvh;
  width: 100%;
  background-color: var(--bg1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home .home-header h1 {
  color: var(--accen);
}

.home-header {
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  inset: 0;
  width: 100%;
  /* background-color: blue; */
  padding: 0.5rem 1rem;
  height: max-content;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: var(--bg1);
}

.home-header div {
  height: 4rem;
  aspect-ratio: 1/1;
  background-color: #183153;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../asset/logo/logo.png);
  border-radius: 50%;
}

.home-header ul {
  display: flex;
  gap: 1rem;
}

.home-header ul li {
  list-style: none;
}

.home-header ul li a {
  color: black;
  text-decoration: none;
  font-size: 0.8em;
}

.kdse {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
  flex-direction: column;
  /* gap: 1rem; */
  /* background-color: #ffd401; */
  height: 100dvh;
}

.kdse .layer-1 {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  /* background-color: #183153; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kdse .layer-2 {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background-color: yellow; */
}

.kdse .layer-1 div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.kdse .layer-1 div span h1 {
  font-weight: 900;
  font-size: 3em;
  /* color: yellow; */
}

.kdse .layer-1 div span:nth-child(1) {
  background-color: var(--accen);
  border-radius: 2px;
}

.kdse .layer-1 div span:nth-child(1) h1 {
  padding: 0.3rem 0.1rem;
  color: var(--bg1);
}

.kdse .layer-2 div {
  position: absolute;
  width: 20rem;
  aspect-ratio: 3/4;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.kdse .layer-2 div:nth-child(1) {
  bottom: 0;
  rotate: -20deg;
  /* background-color: #183153; */
  background-image: url(./../asset/home/home-samsung.png);
}

.kdse .layer-2 div:nth-child(2) {
  /* background-color: #ffd401; */
  filter: blur(2px);
  right: 0;
  rotate: 12deg;
  top: -15%;
  /* z-index: 3; */
  background-image: url(./../asset/home/home-iphone.png);
}

/* From Uiverse.io by abrahamcalsin */
button {
  margin-top: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover a {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 640px) {
  .home-header h1 {
    font-size: 1.3em;
  }
}

/*  */

.ghstj {
  height: 100dvh;
  width: 100%;
  background-color: var(--bg2);
}
