@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins" !important;
}

:root {
  --bg1: #fdfaf6;
  --bg2: #d1d1d1;
  --accen: #007bff;
  --font: #484848;
}

img {
  width: 100%;
}
.dser {
  width: 100%;
  height: 20rem;
  background: var(--bg2);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  outline: 2px solid rgb(176, 176, 176);
  display: flex;
}

.safe {
  height: 100%;
  width: 40%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.safe div {
  height: 95%;
  aspect-ratio: 1/1;
  /* background-color: red; */
}

.iojk {
  /* background-color: blueviolet; */
  flex: 1;
  display: flex;
  height: 100%;
  /* width: 60rem; */
  flex-direction: column;
  gap: 0.3rem;
  overflow: auto;
  /* background-color: blueviolet; */
}

.iojk::-webkit-scrollbar {
  display: none;
}
.iojk header {
  width: 100%;
  padding: 0.4rem 1rem;
  font-weight: bold;
  font-size: 1.2em;
  font-family: monospace;
  /* background-color: green; */
}

.dase {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.swok {
  height: 3rem;
  aspect-ratio: 1/1;
  /* background-color: blue; */
}

@media (max-width: 640px) {
  .dser {
    flex-direction: column;
    height: 45rem !important;
  }
  .safe {
    width: 100% !important;
    height: 40% !important;
  }
}

.tess {
  /* height: 25rem; */
  max-width: 100%;
  /* background-color: blue; */
  flex-shrink: 0;
}

.dhgu {
  background: rgba(255, 255, 255, 0.427);
  backdrop-filter: blur(10px);
  outline: 2px solid rgb(176, 176, 176);
  color: var(--bg1) !important;
}
