img {
  width: 100%;
}
.dser {
  width: 100%;
  height: 20rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  outline: 2px solid rgba(0, 0, 0, 0.233);
  display: flex;
}

.safe {
  height: 100%;
  width: 40%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.safe div {
  height: 95%;
  aspect-ratio: 1/1;
  /* background-color: red; */
}

.iojk {
  /* background-color: blueviolet; */
  flex: 1;
  display: flex;
  height: 100%;
  /* width: 60rem; */
  flex-direction: column;
  gap: 0.3rem;
  overflow: auto;
  /* background-color: blueviolet; */
}
.iojk header {
  width: 100%;
  padding: 0.4rem 1rem;
  font-weight: bold;
  font-size: 1.2em;
  font-family: monospace;
  /* background-color: green; */
}

.dase {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.swok {
  height: 3rem;
  aspect-ratio: 1/1;
  /* background-color: blue; */
}

@media (max-width: 640px) {
  .dser {
    flex-direction: column;
    height: 45rem !important;
  }
  .safe {
    width: 100% !important;
    height: 40% !important;
  }
}

.tess {
  /* height: 25rem; */
  max-width: 100%;
  /* background-color: blue; */
  flex-shrink: 0;
}
